{
    "client_token": <YOUR_TWITCH_APPLICATION_CLIENT_SECRET>,
    "client_id": <YOUR_TWITCH_APPLICATION_CLIENT_ID>,
    "bot_account_token": <YOUR_BOT_ACCOUNT_TOKEN>,
    "bot_username": <YOUR_BOT_ACCOUNT_USERNAME>,
    "default_channels": [
        <CHANNEL_NAMES_YOU_WANT_YOUR_BOT_TO_JOIN_ON_STARTUP>
    ],
    "yaml_db_path": <PATH_TO_LOCAL_YAML_FILE>,    
    "osu_api": {
        "url": "https://osu.ppy.sh/api/", 
        "api_key": <OSU_API_KEY>,
    }
}