body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    list-style-type: none;
}

.bar-chart {
    background-color: aquamarine;
}

svg rect {
    fill: cornflowerblue;
}

svg .result_text {
    fill: white;    
}